body {
    background: #F6CEE3;
    margin-left: 30px;
    margin-right: 200px;
}

header {
    margin-top: 70px;
}

h1 {
    color: #6E6E6E;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 20px;
}

footer {
    margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}